* {
    margin:0;
}

#form1, #form2, #hero-table {
    background-color: #457B9D;   
    width: 40%;
    /* height:40vh; */
    text-align:center;
    box-sizing: border-box;
    margin:5% auto;
    /* padding: 1% 0; */
}

h1 {
    padding:3% 0;
}